/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: #24273a;
    box-sizing: border-box;
    color: #cad3f5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
    text-decoration: none;
}

h2 a {
    color: #ed8796;
    font-size: 1.2em;
}

figure img {
    max-width: 100%;
}

figure {
    max-width: 100%;
    margin: .5em 0;
}

footer {
    margin-top: 1em;
    text-align: center;
    background: #363a4f;
    color: #939ab7;
    padding: 1em;
}